@import url(reset.css);

body {background: #efeff0;}


.container {padding: 0 1.25rem;}

/* 모바일 스타일 */

.estate__wrap {font-size: 1rem;}

/* 헤더영역 */
.estate__header {position: fixed; top: 0; left: 0; width: 100%; height: 3rem; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #ccc; background: #fff; z-index: 1;}
/* //헤더영역 */

/* 컨텐츠영역 */
.estate__content {max-width: 1080px; margin: 0 auto; padding-top: 3rem; padding-top: calc(3rem + constant(safe-area-inset-top)); padding-top: calc(3rem + env(safe-area-inset-top)); padding-bottom: 3rem; padding-bottom: calc(3rem + constant(safe-area-inset-bottom)); padding-bottom: calc(3rem + env(safe-area-inset-bottom));}
/* //컨텐츠영역 */

/* 상단 */
.estate__view--type {overflow-x: scroll; padding: 1.25rem 0;}
.estate__view--type::-webkit-scrollbar {display: none;}
.estate__view--type-wrap {display: flex; padding-left: 1.25rem;}
.estate__view--type-item { padding-right: 1.25rem;}
.estate__view--type-link {display: flex; align-items: center; flex-direction: column; }
.estate__view--type-icon {display: block; min-width: 5rem; min-height: 5rem; background: red; border-radius: 50%;}
.estate__view--type-txt {position: relative; margin-top: 0.25rem; font-size: 0.75rem; color: #222;}

.estate__view--type-item.active .estate__view--type-txt {color: #000; font-weight: 500;}
.estate__view--type-item.active .estate__view--type-txt::after { content: ''; width: 100%; height: 0.125rem; background: #000; position: absolute; bottom: -0.125rem; left: 0;} 
/* //상단 */

/* 배너 */
.estate__view--banner {display: block; margin: 0 0 1.25rem;}
/* //배너 */

/* 목록 */
.estate__view--list {}
.estate__view--list-wrap {display: flex; flex-wrap: wrap;}
.estate__view--list-item {flex: 0 0 calc(100%); margin-bottom: 1rem;}
.estate__view--list-link {display: block; position: relative;}
.estate__view--list-badge {position: absolute; top: 0; left: 0; font-size: 0.875rem; color: #fff; line-height: 1.875rem; padding: 0 1.125rem;}
.estate__view--list-badge1 {background: rgba(133, 99, 233, 0.8);}
.estate__view--list-badge2 {background: rgba(18, 157, 237, 0.8);}
.estate__view--list-img {padding-top: 65%; background-position: center; background-size: 100%; background-repeat: no-repeat;}
.estate__view--list-info {background: #fff; text-align: center; padding: 1rem;}
.estate__view--list-tit {font-size: 1.375rem; line-height: 1.5625rem; font-weight: 600; color: #000;}
.estate__view--list-sub-tit {font-size: 0.875rem; margin-top: 0.5rem; line-height: 1.25rem; color: #084895;}
.estate__view--list-txt {font-size: 0.75rem; color: #666;}
.estate__view--list-txt span {position: relative; padding-right: 0.5rem; margin-right: 0.5rem;}
.estate__view--list-txt span::before {content: ""; position: absolute; right: 0px; top: 1px; display: block; width: 1px;
 height: 12px; background: #e1e1e1;}
.estate__view--list-txt span:last-child {margin: 0; padding: 0;}
.estate__view--list-txt span:last-child::before {display: none;}
/* //목록 */

/* //모바일 스타일 */



/* 태블릿 스타일 */
@media (min-width: 481px) and (max-width: 768px) {
  .estate__view--list-item {flex: 0 0 calc(50% - 0.5rem);}
  .estate__view--list-item:not(:nth-child(2n)) {margin-right: 1rem;}
}

/* 데스크톱 스타일 */
@media (min-width: 769px) {
  .estate__view--list-item {flex: 0 0 calc(33.33% -  0.6666666666666667rem);}
  .estate__view--list-item:not(:nth-child(3n)) {margin-right: 1rem;}
}



/* 그리드 */
/* .estate__view--list-wrap {
  display: grid;
  gap: 1rem; 
}

.estate__view--list-item {
  grid-column: span 1; 
}

@media (min-width: 481px) and (max-width: 768px) {
  .estate__view--list-wrap {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 769px) {
  .estate__view--list-wrap {
      grid-template-columns: repeat(3, 1fr); 
  }
} */